* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

body {
  background-color: #00d2ff;
  height: 100%;
  overflow: auto;
}

#contenedor-juego {
  display: flex;
  margin: 50px;
  padding: 20px;
  background-color: #0a0e17;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#title {
  letter-spacing: 3px;
  font-size: 60px;
  color: #00d2ff;
  text-transform: uppercase;
  margin: 0;
}

#pantalla-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pantalla-inicial h2 {
  font-size: 30px;
  color: #aaa;
  margin: 10px;
}

img {
  width: 600px;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 15px;
}

#pregunta-texto {
  color: #aaa;
  margin-bottom: 30px;
}

#pregunta-imagen {
  margin-bottom: 30px;
  max-width: 100%;
}

#opciones-botones {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
}

button {
  padding: 15px 70px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(110, 142, 251, 0.3);
}

button:hover {
  transform: translateY(-3px); /* Se eleva un poco */
  box-shadow: 0 6px 20px rgba(110, 142, 251, 0.4);
  filter: brightness(1.1);
}

button:active {
  transform: translateY(1px);
}

#resultado-parcial {
  font-weight: bold;
  flex-direction: column;
  gap: 20px;
}

#mostrar-resultados {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

#mostrar-resultados li {
  color: white;
  list-style: decimal;
  text-align: left;
}

#mostrar-resultados li span {
  font-weight: bold;
}

#mostrar-resultados li span.positivo {
  color: rgb(50, 255, 50);
}

#mostrar-resultados li span.negativo {
  color: rgb(245, 60, 60);
}

@media (max-width: 768px) {
  #contenedor-juego {
    margin: 40px;
  }
  #title {
    font-size: 30px;
    margin: 0;
  }

  #pantalla-inicial h2 {
    font-size: 20px;
  }
  img {
    width: 400px;
    height: 250px;
  }

  button {
    padding: 15px 35px;
    font-size: 16px;
  }

  #pregunta-texto {
    margin-bottom: 20px;
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  #contenedor-juego {
    font-size: 20px;
    letter-spacing: 0;
    padding: 15px;
    margin: 20px;
  }
  #title {
    font-size: 26px;
    margin: 0;
  }

  #pantalla-inicial h2 {
    font-size: 20px;
  }
  img {
    width: 270px;
    height: 160px;
  }

  button {
    padding: 10px 50px;
    font-size: 16px;
  }

  #pregunta-texto {
    margin-bottom: 20px;
    font-size: 20px;
  }
  #opciones-botones {
    flex-direction: column;
    gap: 10px;
  }
  #opciones-botones h3 {
    font-size: 20px;
  }
  #mostrar-resultados {
  font-size: 16px;
  padding: 20px;
}
}

@media (min-width: 480px) and (max-width: 1024px) {
  body {
    overflow-y: auto;
  }

  #opciones-botones {
    flex-direction: column;
    gap: 15px;
  }

  button {
    padding: 15px 90px;
    font-size: 16px;
  }
}
